*,::before,::after{
    box-sizing:border-box;
}
body {
    background: url("../images/security-codes-numbers-bladed.jpg") fixed 50%/cover no-repeat #4b7ca0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.text-validation{
    color: red;
    font-size: 14px;
}

.wrapper {
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5), -10px -10px 10px rgba(0,0,0,0.5);
    width: 418px;
    padding-left: 15px;
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-color: #444;
    border-width: 2px;
    border-style: solid;
    background-color: #ececec;
    font-family: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.animation {
    position: relative;
    max-height: 374px;
    transition: max-height 0.4s ease-out;
    margin: 0 auto;
    margin-bottom: 10px;
}

.animation__eye {
    position: absolute;
    display: block;
    width: 4px;
    height: 5px;
    background: #000;
    border-radius: 5px;
    z-index: 1;
}

.animation__video {
    border: 2px solid #000;
    border-radius: 4px;
    display: block;
    opacity: 1;
}

.form-group {
    margin-bottom: 10px;
}

#input-login, #input-password {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-size: 18px;
    padding-left: 40px;
}

.login-field::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    position: absolute;
    font-size: 25px;
    padding: 10px 0 0 10px;
    color: #333;
}
.password-field::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f023";
    position: absolute;
    font-size: 25px;
    padding: 10px 0 0 10px;
    color: #333;
}

/*.btn {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background: #195ce8;
    border: 2px solid #06336b;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}*/
